.quizz .v-card__title
{
  color: var(--G03);
}

.quizz .v-card__text, .quizz .v-card__title, .quizz .v-card__actions {transition: .4s;}

.quizz::before {
  content: 'Commencer';

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: rgba(104, 104, 104, 0.4);
  color: white;
  font-size: 1.5em;
  border-radius: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .4s;
  opacity: 0;
}

.quizz:hover .v-card__title, .quizz:hover .v-card__text, .quizz:hover .v-card__actions {
  filter: blur(5px);
}

.quizz:hover::before {
  opacity: 1;
}
