:root
{
--G01: #85C174;
--G02: #70B966;
--G03: #70AF63;
--G04: #62AB55;
--G05: #5B9353;
--B01: #353533;
--P01: #9E84BC;
--P02: #9B82BA;
--P03: #8E71AF;
--P04: #8764A8;
--P05: #704C95;
}
.icon
{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: var(--G05);
}
.icon span
{
    color: var(--G05);
    font-size: .9em;
    text-transform: none;
    margin-top: 5px;

    display: block;
}
.icon span #active 
{
    display: none;
}

.header .title
{
    color: var(--B01);

    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}
.header .auth
{
    position: absolute;
    right: 24px;
}

.auth .login
{
    height: 50% !important;
    border-radius: 10px;
}
.auth .register
{
    background-color: var(--G02);
    height: 50% !important;
    border-radius: 10px;
}

.header .svg
{
    height: 25px;
}
