:root
{
--G01: #85C174; /*primary lighten-5 [ligth theme]*/
--G02: #70B966; /*primary lighten-4 [ligth theme]*/
--G03: #70AF63; /*primary lighten-3 [ligth theme]*/
--G04: #62AB55; /*primary lighten-2 [ligth theme]*/
--G05: #5B9353; /*primary lighten-1 [ligth theme]*/
--B01: #353533; /*secondary [all theme]*/
--P01: #9E84BC; /*primary lighten-5 [dark theme]*/
--P02: #9B82BA; /*primary lighten-4 [dark theme]*/
--P03: #8E71AF; /*primary lighten-3 [dark theme]*/
--P04: #8764A8; /*primary lighten-2 [dark theme]*/
--P05: #704C95; /*primary lighten-1 [dark theme]*/
}

/* Color light/dark */
.theme--light .primary--text.text-lighten-5 {color: var(--G01) !important;} .theme--light .primary--text.text-lighten-4 {color: var(--G02) !important;} .theme--light .primary--text.text-lighten-3 {color: var(--G03) !important;} .theme--light .primary--text.text-lighten-2 {color: var(--G04) !important;} .theme--light .primary--text.text-lighten-1 {color: var(--G05) !important;} .theme--light .secondary--text {color: var(--B01) !important;}
.theme--dark .primary--text.text-lighten-5 {color: var(--P01) !important;} .theme--dark .primary--text.text-lighten-4 {color: var(--P02) !important;} .theme--dark .primary--text.text-lighten-3 {color: var(--P03) !important;} .theme--dark .primary--text.text-lighten-2 {color: var(--P04) !important;} .theme--dark .primary--text.text-lighten-1 {color: var(--P05) !important;} .theme--dark .secondary--text {color: var(--B01) !important;}

/* Background light/dark */
.theme--light .primary.lighten-5 {background: var(--G01) !important;} .theme--light .primary.lighten-4 {background: var(--G02) !important;} .theme--light .primary.lighten-3 {background: var(--G03) !important;} .theme--light .primary.lighten-2 {background: var(--G04) !important;} .theme--light .primary.lighten-1 {background: var(--G05) !important;} .theme--light .secondary {background: var(--B01) !important;}
.theme--dark .primary.lighten-5 {background: var(--P01) !important;} .theme--dark .primary.lighten-4 {background: var(--P02) !important;} .theme--dark .primary.lighten-3 {background: var(--P03) !important;} .theme--dark .primary.lighten-2 {background: var(--P04) !important;} .theme--dark .primary.lighten-1 {background: var(--P05) !important;} .theme--dark .secondary {background: var(--B01) !important;}




/* Class border -radius */
*[bd-0], .bd-0 {border-radius: 0px !important;}
*[bd-1], .bd-1 {border-radius: 3px !important;}
*[bd-2], .bd-2 {border-radius: 5px !important;}
*[bd-3], .bd-3 {border-radius: 7px !important;}
*[bd-4], .bd-4 {border-radius: 10px !important;}
*[bd-5], .bd-5 {border-radius: 13px !important;}






.icon
{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 3px;
}
.icon span
{
    font-size: .9em;
    text-transform: none;
    margin-top: 5px;
    display: block;
}
.icon span #active 
{
    display: none;
}

.header .title
{
    color: var(--B01);

    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}
.header .auth
{
    position: absolute;
    right: 24px;
}

.auth .login
{
    height: 50% !important;
    border-radius: 10px;
}
.auth .register
{
    height: 50% !important;
    border-radius: 10px;
}

.header .svg
{
    height: 25px;
}


